# Data files (Biossinais pesados)
*.dat
*.hea
*.npy
*.npy.gz
*.pkl
*.mat

# Outputs (qualquer formato)
outputs/

# Dados brutos
records100/
records500/

# Python & Jupyter
__pycache__/
.ipynb_checkpoints/
.vscode/
.idea/
*.py[cod]
*$py.class

# OS
.DS_Store
Thumbs.db