# Data files (Matrizes pesadas de Biossinais)
*.npy
*.npy.gz
*.pkl
*.mat

# Pasta de outputs (gerados pelos scripts)
**/outputs/*.csv
**/outputs/*.npy
**/outputs/*.pkl
**/outputs/*.txt

# Pasta de sinais brutos (PTB-XL)
records100/
records500/

# Python & Jupyter
__pycache__/
.ipynb_checkpoints/
.vscode/
.idea/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db
